body{
	background-color: #E3F2FD;
	font-family: 'Ubuntu-L';
}

h1{
  font-size: 2em;
  font-family: 'Ubuntu-M';
}
h2{
  font-size: 1.8em;
  font-family: 'Ubuntu-M';
}
h3{
  font-size: 1.6em;
  font-family: 'Ubuntu-R';
}
h4,li{
  font-size: 1.4em;
  font-family: 'Ubuntu-R';
}
h5{
  font-size: 1.2em;
  font-family: 'Ubuntu-L';
}
h6, p, label, span{
  font-size: 1em;
  font-family: 'Ubuntu-L';
}

header{
	background-color: #B2EBF2;
	height: 350px;
	flex-direction: column;
	align-items: center;
}

/* Logo */
header figure.logo{
	width: 100%;
	height: 55px;
}

/* Menu */
header nav.menu{
	height: 60px;
	width: 960px;
	border-bottom: 1px solid #424242;
}
header nav.menu ul{
	width:100%;
	align-items: center;
}

header nav.menu ul li{
	margin: 10px 7px;
}

/* Banner Interactivo*/
header section.banner{
	width:960px;
	height: 215px;
	margin-top: 20px;
	border: 1px solid #9E9E9E;
}

/* Contenedor*/
.contenedor{
	width: 960px;
}

@media screen and (max-width: 736px){
	header nav.menu{
		width: 100%;
	}
	header section.banner{
		width:100%;
	}
	.contenedor {
		width: 100%;
	}

}
@media screen and (min-width: 737px) and (max-width: 1200px){
	header nav.menu{
		width: 90%;
	}
	header section.banner{
		width:90%;
	}
	.contenedor {
		width: 90%;
	}
}

@media screen and (min-width: 1201px){
	header nav.menu{
		width: 1200px;
	}
	header section.banner{
		width:1200px;
	}
	.contenedor {
		width: 1200px;
	}
}
