@viewport{
	zoom: 1.0;
	width: extend-to-zoom;
}

html, body {
	height: 100%;
	background-color: #FAFAFA;
	font-family: 'Ubuntu-L';
	font-size: 14px;
}

h1{
  font-size: 2em;
	font-family: 'Ubuntu-M';
}
h2{
  font-size: 1.8em;
  font-family: 'Ubuntu-M';
}
h3{
  margin: 0 0 0.25em 0;
  font-size: 1.6em;
  font-family: 'Ubuntu-R';
}
h4,li{
  font-size: 1.4em;
  font-family: 'Ubuntu-R';
}
h5{
  color: #2979FF;
  font-size: 1.2em;
  font-family: 'Ubuntu-L';
  margin: 0 0 2em 0;
}
h6, p, label, span{
  font-size: 1.1em;
  font-family: 'Ubuntu-L';
}

a{
	text-decoration: none;
	color: #2979FF;
}
header{
	height: 350px !important;
	flex-direction: column;
	align-items: center;
	/*background: #09f;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1ZDFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #80D8FF), color-stop(100%, #E3F2FD));
	background-image: -moz-linear-gradient(bottom, #80D8FF, #E3F2FD);
	background-image: -webkit-linear-gradient(bottom, #80D8FF, #E3F2FD);
	background-image: linear-gradient(to top, #80D8FF, #E3F2FD);*/
	background-color: #EEEEEE;
}

/* Logo */
header div.logo-nav{
	width: 1280px;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

header div.logo-nav img{

}
/* Menu */
header .menu{
	height: 50px;
	width: 100%;

}

header .menu nav.menu-nav{
	width: 100%;
	margin: 0 auto;
}
header .menu nav.menu-nav ul{
	width:100%;
	align-items: center;
	display: flex;
	flex-direction: row-reverse;

}

header .menu nav.menu-nav ul li{
	padding: 15px 10px;
}

header .menu nav.menu-nav ul li:hover{
}

header .menu nav.menu-nav ul li ::after {
/*	color: #82B1FF;
	content: '';
	display: inline-block;
	width: 1px;
	height: 14px;
	-moz-border-radius: 15px;
	background-color: #82B1FF;
	margin-left: 10px;*/
}


/* Banner Interactivo*/
header section.banner{
	width:960px;
	height: 215px;
	margin-top: 20px;
	background-image: url('../images/banner-math.jpg');
}

/* Contenedor*/
.contenedor{
	margin: 10px auto 0 auto;
	display: flex;
	flex-direction: column;
}
.contenedor-1{
/*	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);*/
	width: 100%;
	z-index: 999;
}
.contenedor .contenedor-1 .columna-4{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	margin:auto;
}
.contenedor .contenedor-1 .columna-4 article{
	/*background-color: #eee;*/
	display: flex;
	flex-direction: column;
	width: 23%;
	/*padding: 1%;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.55);*/
}
.contenedor .contenedor-1 .columna-4 article img{
	/*border:5px solid #212121;*/
	width:100%;
	max-width: 294px;
	margin: auto;
}
.contenedor .contenedor-1 .columna-4 article p {
	font-variant: small-caps;
	line-height: 1.2;
	margin-top: 10px;
}


.contenedor-2{
	width: 100%;
	background-color: #EEEEEE;
}
.contenedor .contenedor-2 .columna-3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:15px auto;
}
.contenedor .contenedor-2 .columna-3 article{
	display: flex;
	flex-direction: column;
	width: 30%;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
	padding: 15px;
	background-color: #FAFAFA;
}
.contenedor .contenedor-2 .columna-3 article p{
	font-variant: small-caps;
	line-height: 1.2;
	margin-top: 20px;
}

.contenedor .contenedor-2 .columna-3 article ul{
	list-style: none;
}

.contenedor .contenedor-2 .columna-3 article ul li{
	margin: 0 0 0.8em 0;
	font-family: 'Ubuntu-L';
	font-variant: small-caps;
	border-bottom: 1px solid #EEE;
	padding: 10px;

}
.contenedor .contenedor-2 .columna-3 article section.lista-mejores-libros{
	display: flex;
	flex-direction: column;
}
.contenedor .contenedor-2 .columna-3 article section.lista-mejores-libros .detalle-libros{
	width: 100%;
	height: 77px;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 10px 0;
}
.contenedor .contenedor-2 .columna-3 article section.lista-mejores-libros .detalle-libros img{
	width: 100%;
	max-width: 70px;
}

.contenedor .contenedor-2 .columna-3 article section.lista-mejores-libros .detalle-libros div.informacion{
	 padding: 0 20px;
 }

.contenedor .contenedor-2 .columna-3 article section.lista-mejores-libros .detalle-libros div.informacion h5{
	 margin: 0 0 0.5em 0;
 }

.contenedor .contenedor-2 .columna-3 article section.lista-mejores-libros .detalle-libros div.informacion p{
	margin: 0 0 0.5em 0;
}

/* Footer */
footer{
	background-color: #EEEEEE;
	border-top: solid 1px #B5BEC3;
	box-shadow: inset 0px 1px 0px 0px #E0E4E7;
	text-align: center;
	padding: 40px 0 20px 0;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25);
	width: 100%;
	color: rgba(0,0,0,0.7);
}

footer h6{
	text-align: center;
	display: block;
	width: 100%;
}

@media screen and (max-width: 320px){
	header nav.menu{
		width: 100%;
	}
	header section.banner{
		width:100%;
	}
	.contenedor .contenedor-1 .columna-4{
		width: 100%;
	}
	.contenedor .contenedor-1  .columna-4 article{
		width: 90%;
		margin: 5% auto;
	}

}

@media screen and (min-width: 321px) and (max-width: 768px){
	header nav.menu{
		width: 100%;
	}
	header section.banner{
		width:100%;
	}
	.contenedor .contenedor-1 .columna-4{
		width: 100%;
	}
	.contenedor .contenedor-1  .columna-4{
		justify-content: space-around;
	}
	.contenedor .contenedor-1  .columna-4 article{
		width: 46%;
		margin: 10px;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
	header nav.menu{
		width: 95%;
	}
	header section.banner{
		width:95%;
	}
	.contenedor .contenedor-1 .columna-4{
		width: 95%;
	}
}

@media screen and (min-width: 1025px)  and (max-width: 1279px){
	header nav.menu{
		width: 100%;
	}
	header section.banner{
		width:100%;
	}
	.contenedor .contenedor-1 .columna-4{
		width: 100%;
	}
}

@media screen and (min-width: 1280px){
	header nav.menu{
		width: 1280px;
	}
	header section.banner{
		width:1280px;
	}
	.contenedor .contenedor-1 .columna-4,
	.contenedor .contenedor-2 .columna-3{
		width: 1280px;
	}
}
